@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  color: #f8f8f8;
  background: #181818;
  padding: 50px 10px 10px 10px;
  caret-color: var(--blue);
  --blue: #54a0ff;
}

#titleBar{
  background: var(--blue);
  width: 100%;
  padding: 0 5px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
}

::selection {
  background: var(--blue);
  color: #ffffff;
}
::-moz-selection {
  background: var(--blue);
  color: #ffffff;
}